<!-- Anything surrounded by "[]" can be replaced freely -->
<!-- It is preferred that you don't touch anything else unless said otherwise-->

<!-- Delete all comments once the page is complete to reduce file size -->

<h1>[entry name]</h1>
<div class="line-break"></div>

<div class="infobox main-border">
  <div class="infobox-title">[entry name]</div>
  <table cellpadding="4">
    <tbody>
      <tr>
        <th>Name</th>
        <td>[name]</td>
      </tr>
      <tr>
        <th>Aliases</th>
        <td>[aliases]</td> <!-- If multiple values, seperate them with <br> (i.e. Value 1<br>Value 2) -->
      </tr>
      <tr>
        <th>Kingdom of origin</th>
        <td>[kingdom of origin]</td>
      </tr>
      <tr>
        <th>Relatives</th>
        <td>[relatives]</td> <!-- If multiple values, seperate them with "<br>" (i.e. Value 1<br>Value 2) -->
      </tr>
    </tbody>
  </table>
  <div class="infobox-header">Combat</div>
  <table cellpadding="4">
    <tbody>
      <tr>
        <th><a href="?entry=magic" title="Magic">Magic</a></th>
        <td>[magic]</td> <!-- If multiple values, seperate them with "<br>" (i.e. Value 1<br>Value 2) -->
      </tr>
      <tr>
        <th>Weapon of choice</th>
        <td>[weapon of choice]</td>
      </tr>
    </tbody>
  </table>
  <div class="infobox-header">Appearances</div>
  <table cellpadding="4">
    <tbody>
      <tr>
        <th>First appearance</th>
        <td>[first appearance]</td>
      </tr>
      <tr>
        <th>Last appearance</th>
        <td>[last appearance]</td>
      </tr>
    </tbody>
  </table>
  <div class="infobox-header">Physical description</div>
  <table cellpadding="4">
    <tbody>
      <tr>
        <th>Species</th>
        <td>[species]</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>[gender]</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- A quote is optional for an entry -->
<!-- To include a quote on the entry, delete the surrounding comment -->
<!--
  <blockquote class="quotation main-border">
    <p>
      [quote]
    </p>
    <cite>― [speaker]</cite>
  </blockquote>
-->

<!-- Introduce the character here -->
<!-- Every paragraph should be surrounded with "<p></p>" (i.e. <p>paragraph</p>) -->
<div class="section">
  [introduction]
</div>

<h2>Backstory</h2>
<div class="line-break"></div>

<!-- Put the character's backstory here -->
<!-- Every paragraph should be surrounded with "<p></p>" (i.e. <p>paragraph</p>) -->
<div class="section">
  [backstory]
</div>

<h2>Appearance</h2>
<div class="line-break"></div>

<!-- Describe the character's appearance here -->
<!-- Every paragraph should be surrounded with "<p></p>" (i.e. <p>paragraph</p>) -->
<div class="section">
  [appearance]
</div>

<h2>Personality</h2>
<div class="line-break"></div>

<!-- Describe the character's personlity here -->
<!-- Every paragraph should be surrounded with "<p></p>" (i.e. <p>paragraph</p>) -->
<div class="section">
  [personaility]
</div>

<h2>Trivia</h2>
<div class="line-break"></div>

<!-- Add some character trivia here -->
<!-- Every list item should be surrounded with "<li><p></p></li>" (i.e. <li><p>list item</p></li>) -->
<ul class="section-list">
  [trivia]
</ul>