/* General */
.entry-content h1 {
  color: var(--secondary-color);
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;

  margin-top: 0;
  margin-bottom: 22px;
}

.entry-content h2 {
  font-weight: normal;
  line-height: 32px;

  display: flow-root;

  margin-top: 18px;
  margin-bottom: 12px;
}

.entry-content h1::after,
.entry-content h2::after {
  content: '';

  border-top: 1px solid rgb(20, 20, 20);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  display: block;

  height: 0;
  margin-top: 3px;
}

.entry-content h3 {
  font-weight: normal;
  line-height: 28px;
}

.entry-content a {
  color: var(--link-color);
  text-decoration: none;
}

.entry-content a:hover {
  text-decoration: underline;
}

.entry-content ul {
  padding-left: 17px;
}

.entry-content ul ul {
  padding-top: 5px;
}

.entry-content li {
  margin-bottom: 10px;
}

.entry-content blockquote {
  font-size: 13px;
  font-style: italic;
  word-break: break-word;

  display: table;

  margin: 12px 0;
  padding: 10px;
}

.entry-content blockquote::before {
  content: '\201C';

  color: var(--primary-color);
  font-size: 3em;
  line-height: 0;

  vertical-align: -0.4em;
  margin-right: 0.15em;
}

.entry-content cite {
  font-style: normal;

  margin-left: 5px;
}

.entry-content blockquote,
.content-table {
  background-color: rgba(0, 0, 0, 0.1);

  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.1) rgba(13, 4, 2, 0.2) rgba(13, 4, 2, 0.2)
    rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.entry-content img {
  width: 100%;
  height: auto;
}

/* Content Table */
.content-table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  width: 100%;
  margin-bottom: 25px;
}

.content-table {
  line-height: 24px;
  text-align: center;

  max-width: 850px;
  padding: 3px;
}

.content-table th {
  background-color: rgba(0, 0, 0, 0.15);

  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  white-space: nowrap;

  padding: 5px;
  margin-bottom: 2.5px;

  padding-right: 50px;
  padding-left: 50px;
}

.content-table td {
  padding: 10px 0;
}

/* Hatnote */
.hatnote {
  font-style: italic;

  padding-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Generic */
.align-center {
  justify-self: center;
}

.text-center {
  text-align: center;
}
