/* General */
.content-body a {
  color: var(--link-color);
  text-decoration: none;
}

.content-body a:hover {
  text-decoration: underline;
}

/* Breaks */
.line-break {
  border-top: 1px solid rgb(20, 20, 20);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  overflow: auto;

  margin-top: 5px;
  margin-bottom: 25px;
}

/* Infobox, Linkbox & Table */
.infobox {
  background-color: rgba(0, 0, 0, 0.1);

  position: relative;
  float: right;

  width: 300px;
  margin: 0 0 25px 25px;
  padding: 3px;
}

@media (max-width: 1000px) {
  .infobox {
    width: 250px;
  }
}

@media (max-width: 750px) {
  .infobox {
    width: 200px;
  }
}

.infobox-title,
.linkbox-title {
  color: var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.1);

  font-size: 20px;
  text-align: center;
  line-height: 24px;

  padding: 5px;
  margin-bottom: 2.5px;
}

.infobox-header,
.content-table th {
  background-color: rgba(0, 0, 0, 0.15);

  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;

  padding: 5px;
  margin-bottom: 2.5px;
}

.infobox table {
  font-size: 12.5px;
  line-height: 24px;
}

.infobox th {
  text-align: left;
}

.linkbox {
  background-color: rgba(0, 0, 0, 0.15);

  min-width: 300px;
  margin-bottom: 25px;
  padding: 3px;
}

.linkbox ul {
  list-style-type: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
}

.linkbox li {
  white-space: nowrap;

  display: inline;

  margin: 10px;
}

.content-table {
  background-color: rgba(0, 0, 0, 0.1);

  line-height: 24px;
  text-align: center;

  max-width: 750px;
  margin-bottom: 25px;
  padding: 3px;
}

.content-table th {
  padding-right: 50px;
  padding-left: 50px;
}

/* Hatnote */
.hatnote {
  font-style: italic;

  padding-left: 1.6em;
  margin-bottom: 0.5em;
}

/* Message Box */
.msgbox {
  color: black;
  background-color: rgb(175, 0, 0);
  border-left: 4px solid darkred;

  display: flex;
  align-items: center;
  justify-self: center;

  width: 90%;
  padding: 0.4em 0.8em;
  margin-bottom: 1em;
}

.msgbox-icon {
  background-image: url("../images/warning-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;

  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}

/* Quotation */
.quotation {
  background-color: rgba(0, 0, 0, 0.1);

  font-size: 13px;
  font-style: italic;

  display: table;

  margin: 0;
  margin-bottom: 25px;
  padding: 10px;
}

.quotation:before {
  color: var(--primary-color);
  font-size: 3em;
  line-height: 0;

  content: open-quote;

  vertical-align: -0.4em;
  margin-right: 0.15em;
}

.quotation cite {
  font-style: normal;

  margin-left: 5px;
}

/* Sections */
.section,
.section-list {
  margin-bottom: 25px;
}

.section-list {
  padding-left: 17px;
}

/* Generic */
.align-center {
  justify-self: center;
}

.text-center {
  text-align: center;
}