.content-body a {
  color: var(--link-color);
  text-decoration: none;
}

.content-body a:hover {
  text-decoration: underline;
}

.line-break {
  border-top: 1px solid rgb(20, 20, 20);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  display: block;
  overflow: auto;

  margin-top: 5px;
  margin-bottom: 25px;
}

.infobox {
  background-color: rgba(0, 0, 0, 0.1);

  position: relative;
  float: right;

  width: 300px;
  margin: 0 0 25px 25px;
  padding: 3px;
}

@media (max-width: 1000px) {
  .infobox {
    width: 250px;
  }
}

@media (max-width: 750px) {
  .infobox {
    width: 200px;
  }
}

.infobox-title,
.linkbox-title {
  color: var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.1);

  font-size: 20px;
  text-align: center;
  line-height: 24px;

  padding: 5px;
  margin-bottom: 2.5px;
}

.infobox-header {
  background-color: rgba(0, 0, 0, 0.15);

  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;

  padding: 5px;
  margin-bottom: 2.5px;
}

.infobox table {
  font-size: 12.5px;
  line-height: 24px;
}

.infobox th {
  text-align: left;
}

.quotation {
  background-color: rgba(0, 0, 0, 0.1);

  font-size: 13px;
  font-style: italic;

  display: table;

  margin: 0;
  margin-bottom: 25px;
  padding: 10px;
}

.quotation:before {
  color: var(--primary-color);
  font-size: 3em;
  line-height: 0;

  content: open-quote;

  vertical-align: -0.4em;
  margin-right: 0.15em;
}

.quotation cite {
  font-style: normal;

  margin-left: 5px;
}

.linkbox {
  background-color: rgba(0, 0, 0, 0.15);

  min-width: 300px;
  margin-bottom: 25px;
  padding: 3px;
}

.linkbox ul {
  list-style-type: none;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
}

.linkbox li {
  white-space: nowrap;

  display: inline;

  margin: 10px;
}

.section,
.section-list {
  margin-bottom: 25px;
}

.section-list {
  padding-left: 17px;
}

.align-center {
  justify-self: center;
}

.text-center {
  text-align: center;
}