.background {
  position: fixed;

  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  
  transform: scale(1.1);
  height: 100%;
  width: 100%;
  z-index: -1;
}

.logo {
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 175px;
}

.logo a {
  width: 325px;
  height: 100px;
}

.content-wrapper {
  flex: 1;

  display: flex;
  gap: 10px;

  margin: 25px;
  margin-top: 0;
}

.wiki-content {
  background: url("../images/content-background.jpg");
  background-repeat: repeat-y;
  background-size: 100%;

  box-shadow: 2.5px 2.5px 10px 0 rgba(10, 10, 10, 0.7); 
}

.panels {
  background-size: unset;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  background-size: unset;

  width: 200px;
}

.panel-label {
  background-color: rgba(0, 0, 0, 0.15);

  border-color: rgb(20, 20, 20);
  border-style: solid;
  border-width: 0 0 1px 0;
  border-radius: 5px 5px 0 0;

  font-size: 17px;
  line-height: 10px;

  margin: 0;
  padding: 10px;
}

.panel-list {
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  list-style-type: none;

  margin: 0;
  padding: 0;
}

.panel-link {
  color: var(--link-color);
  font-size: 14px;
  text-decoration: none;

  display: block;
  
  margin: 7px;
  padding: 7px;

  transition: background 0.3s;
  cursor: pointer;
}

.panel-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.panel-link:active {
  text-decoration: underline;
}

.content-body {
  flex: 1;

  height: min-content;
  padding: 20px;
}

.footer {
  background-color: var(--background-color);

  display: flex;
  justify-content: center;
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .content-wrapper {
    flex-direction: column-reverse;
    justify-content: start;
  }

  .panels {
    flex-direction: row;

    width: 400px;
  }

  .content-body {
    flex: 0;
  }
}